.category-nav {
  display: flex;
  padding: 0;
  justify-content: center;
  background-color: lightgreen;
}

.category-nav li{
  margin: 1em 2em;
  list-style: none;
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  width: 125px;
  font-size: 1.1em;

}

.category-nav li:first-child{
  box-shadow: 0 0 10px 3px grey;
}

/* =============== NOTES COMPONENT STYLING =============== */

.notes-component{
  max-width: 100vw;
  overflow: hidden;
  background-color: #5eff69;
  padding: 1em;
}

.notes-component-buttons {
  display: flex;
  justify-content: space-around;
}

.notes-component-buttons > button {
  width: 160px;
}

.notes-component-buttons {
  display: flex;
  justify-content: space-around;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 1em;
  margin: 1em;
}


/* ==================== NOTe COMPONENT STYLING ==================== */

.note-component {
  width: 80%;
  min-width: 250px;
  max-width: 650px;
  position: relative;
  margin: 1em;
  padding: 2em;
  background-color: lightgreen;
  border-radius: 30px;
}

.note-component button {
  padding: 1em;
  border-radius: 20px;
  background-color: #5eff69;
  margin: .5em;
}

.note {
  background-color: #a9ff5e;
  margin: 0 auto;;
  padding: 1em;
  width: 90%;
  min-width: 200px;
  min-height: 300px;
  position: relative;
}

.note.active {
  border: 3px solid red;
}

.note > span {
  cursor: pointer;
}

.note  textarea {
  background-color: inherit;
}
.subnote{
  width: 90%;
  text-align: left;
  position: relative;
}

form .subnote {
  display: flex;
  align-items: center;
}

.subnote  textarea {
  width: 90%;
}


.subnote-dash {
  margin-right: 1em;
  height: 100%;
  font-weight: bold;
}



.note .delete-note {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: yellow;
  border-radius: 50%;
  padding: 0.5em;
}

.note .edit-note {
  color: blue;
}


/* ================ NOTe FORM ================== */

.note-form-component {
  max-width: 100vw;
  min-height: 60vh;
  background-color: lightgreen;
  padding: 1em;
}

.note-form-component form textarea{
  height: 50px;
}


/* ============= AUDIO NOTe =========== */

.audio-note {
  padding: 1em;
}

/* ===================== IMAGE INPUT DIV ==================== */

.image-input {
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.image-input img {
  width: 150px;
  height: 150px;
}

.image-input > input[type="file"] {
  width: 180px;
  text-align: center !important;
  margin: auto;
}
