.notes {
  display: flex;
  flex-wrap: wrap;
}

.note {
  background-color: green;
  margin: 1em;
  padding: 1em;
  min-width: 150px;
  position: relative;
}

.note.active {
  border: 3px solid red;
}

.note span {
  cursor: pointer;
}


.note .delete-note {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: yellow;
  border-radius: 50%;
  padding: 0.5em;
}

.note .edit-note {
  color: blue;
}

.audio-note {
  padding: 1em;
}

img {
  width: 100px;
  height: 100px;
  display: block;
}

.note-detail > button {
  display:block
}
